{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style_afficher_recette.css')}}">
{% endblock %}

{% block title %}Le Coins du Pécheur - {{ asset(producteur.nom) }} {{ asset(producteur.prenom) }}{% endblock %}

{% block body %}

    <section class="banner" id="banner">
        <div class="content">
            <h2>{{ asset(producteur.nom) }} {{ asset(producteur.prenom) }}</h2>
        </div>
    </section>

    <script>
        window.addEventListener("scroll", function() {
            const header = document.querySelector('header')
            header.classList.toggle("sticky", window.scrollY > 0)
        })
    
        function toggleMenu() {
            const menuToggle = document.querySelector('.menuToggle')
            const navigation = document.querySelector('.navigation')
            menuToggle.classList.toggle('active')
            navigation.classList.toggle('active')
        }
    </script>

{% block javascripts %}
{% endblock %}

{% endblock %}