{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style_recettes.css')}}">
{% endblock %}

{% block title %}Le Coins du Pécheur - Toutes les recettes{% endblock %}

{% block body %}

    <section class="banner" id="banner">
        <div class="content">
            <h2>Toutes les recettes</h2>
        </div>
    </section>

    <section class="menu" id="menu">
        <div class="content">
        {% for recette in recettes %}
            <div class="box">
                <div class="imgBx">
                    <a href="{{ path('afficher_recette',{'id' : recette.id}) }}"><img src="{{ asset('image/' ~recette.photo) }}" alt=""></a>
                </div>
                <div class="text">
                    <a href="{{ path('afficher_recette',{'id' : recette.id}) }}"><h3>{{ asset(recette.nom) }}</h3></a>
                    <a href="{{ path('modifier_recette',{'id' : recette.id}) }}">Modifier</a>
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="title"><a href="{{ path("importer_recette") }}" class="btn">Ajouter une recette</a></div>
    </section>

    <script>
        window.addEventListener("scroll", function() {
            const header = document.querySelector('header')
            header.classList.toggle("sticky", window.scrollY > 0)
        })
    
        function toggleMenu() {
            const menuToggle = document.querySelector('.menuToggle')
            const navigation = document.querySelector('.navigation')
            menuToggle.classList.toggle('active')
            navigation.classList.toggle('active')
        }
    </script>

{% block javascripts %}
{% endblock %}

{% endblock %}