<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Le Coin du Pécheur{% endblock %}</title>
        <link href="{{ asset('fontawesome-free-5.15.3-web/css/all.css') }}" rel="stylesheet">
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css')}}">
        {% endblock %}
    </head>
    
    <body>
        <header>
            <a href="{{ path('accueil') }}" class="logo" id="logo">Le Coin du Pécheur</a>
            <div class="menuToggle" onclick="toggleMenu()"></div>
            <ul class="navigation">
                <li><a href="{{ path('accueil') }}">ACCUEIL</a></li>
                <li><a href="{{ path('recettes') }}">RECETTES</a></li>
                <li><a href="{{ path('producteurs') }}">PRODUCTEURS</a></li>
            </ul>
        </header>

        {% block body %}
        
        {% block javascripts %}
        {% endblock %}
        
        {% endblock %}
    </body>
</html>
