<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/style.css')}}">

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}

    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{{ path('accueil') }}">Accueil</a></li>
                    <li><a href="{{ path('recettes') }}">Recettes</a></li>
                    <li><a href="{{ path('producteurs') }}">Producteurs</a></li>
                    <li><a href="{{ path('contact') }}">Contact</a></li>
                </ul>
            </nav>

            <div class="searchBx">
                <div class="search">
                    <input type="search" name="search" id="">
                    <input type="button" value="Rechercher">
                </div>  
            </div>

            {% block header %}{% endblock %}

        </header>
        {% block body %}{% endblock %}
    </body>
</html>
